<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/code.css">
  </head>
  <body>

    <div class="container">
      <header>
        <p><a href="/">Home</a></p>
      </header>

      <h1>{{ title }}</h1>

      {{{ contents }}}
    </div>

    <footer class="container-fluid">
      <p>Generated with {{ generator }} &mdash; <a href="{{ generatorurl }}">{{ generatorurl }}</a></p>
    </footer>

  </body>
</html>
